<h1>Login screen!</h1>
<form action="/login" method="POST" style="display: flex; flex-direction: column; justify-content: space-around; height: 10%; width: 50%;">
    <div style="display: flex; flex-direction: row;justify-content: space-between; width: 30%;">
    <label>Email: </label>
    <input type="email" placeholder="email" name="email"/>
    </div>
    <div style="display: flex; flex-direction: row;justify-content: space-between; width: 30%;">
        <label>Password: </label>
        <input type="password" placeholder="********" name="password"/>
    </div>
</form>