<h1>Register screen!</h1>

<form action="/register" method="POST"
   style="display: flex; flex-direction: column; justify-content: space-around; height: 20%; width: 50%;">
   <div style="display: flex; flex-direction: row;justify-content: space-between; width: 30%;">
      <label>Email: </label>
      <input type="email" placeholder="email" name="email"/>
   </div>
   <div style="display: flex; flex-direction: row;justify-content: space-between; width: 30%;">
      <label>Password: </label>
      <input type="password" placeholder="********" name="password"/>
   </div>

   <div style="display: flex; flex-direction: row;justify-content: space-between; width: 30%;">
      <label>Phone number: </label>
      <input type="text" placeholder="+91 9556253456" name="phone"/>
   </div>
   <div style="display: flex; flex-direction: row;justify-content: space-between; width: 30%;">
      <label>First Name: </label>
      <input type="text" placeholder="First Name" name="fname"/>
   </div>
   <div style="display: flex; flex-direction: row;justify-content: space-between; width: 30%;">
      <label>Last Name: </label>
      <input type="text" placeholder="Last Name" name="lname"/>
   </div>
   <div style="display: flex; flex-direction: row;justify-content: space-between; width: 30%;">
       <button type="submit">Register</button>
   </div>

</form>